<table class="employee-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Date d'Embauche</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.hireDate | date:'dd/MM/yyyy' }}</td>
        <td>
            <a class="edit-icon" routerLink='/employees/edite/{{employee.id}}'>✏️</a>
        </td>
        <td>
          <a href="#" class="delete-icon" (click)="deleteEmployee(employee.id)">
            &#10006;
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  